import("methods")
import("ggplot2")
import("FLCore")
import("ggplotFL")
import("FLBRP")
import("FLasher")
import("mse")
import("FLSRTMB")

export(computeFbrp)
export(computeFbrps)
export(Fmmy)
export(Fp05)
export(Fbrp)
export(Fsim)
export(opt.bisect)
export(getF)
export(plotAdvice)
export(plotAR)
export(plotbioage)
export(plotbioyr)
export(plotdyn)
export(ploteq)
export(plotFsim)
export(plotMajuro)
export(plotspr)
export(rc4)
export(rGclass)
export(ss3col)
export(plotWKREF)
export(Fe40)
export(stockMedians)
export(ss2stars)
export(ss2FLStockR)
export(jabba2FLStockR)
export(jabba2stars)
export(ssmvln)
export(flr2stars)
export(spict2FLQuant)
export(spict2FLStockR)
export(rffwd)
export(newselex)
export(bioidx.sim)
export(asem2spm)
export(stock2ratios)
export(Mlorenzen)
export(fudc)
export(plotpf)
export(updsr)
export(ca.sim)
export(idx.sim)
export(len.sim)
export(pgquant)
export(ALKs)
export(applyALK)
export(sops)
export(fwd2stars)
export(updstars)
export(spict2stars)
export(ABItgt)
export(schaefer.sim)
export(blag)
export(iALK)